.app-wrapper{
  display: grid;
  /* min-height: 100vh; */
  max-width: 1200px;
  margin: 0 auto;
  grid-template-areas: 
  "h h"
  "n c"
  "f f";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 120px 10fr;
  grid-gap: 10px;
}

.app-wrapper-content{
  grid-area: c;
  background-color: #e8DDb5;
  min-height: calc(100vh - 150px);
}

